/** {
  border: 1px solid red;
}*/

body {
	background-color: #DBEEFE;
	margin: 0px;
}

h1 {
	color: #FFFFFF;
	text-align: center;
	font-family: 'Dela Gothic One', serif;
  	font-size: 70px;
	line-height: 90px; 
  	text-transform: uppercase; 
  	max-width: 940px;
  	margin: 0px 80px;
}

a {
	font-family: 'Dela Gothic One';
  	font-size: 20px;
}

p, li, h3 {
	font-family: verdana;
	font-size: 18px;
}

li {
	display: inline-block; 
	height: 80px;
	line-height: 80px; 
	list-style: none;
	padding: 0px 40px;
}

a:hover {
	color: #ffffff;
}

.headerSanPedro{
	background: url('sanPedro.jpg') no-repeat; 
	background-size: cover;
	height: 400px;
	padding: 60px 0px;
}

.headerSanAndreas{
	background: url('sanAndreas.jpg') no-repeat; 
	background-size: cover;
	height: 400px;
	font-size: 60px;
	line-height: 70px;
	padding: 40px 0px;
}

.content {
	margin: 80px 160px;
	line-height: 30px; 
}

#clipart {
	float: left;
	padding: 0px 90px 0px 0px;
}

.nav { 
	background: #97cafc;
	height: 120px; 
	width: 100%;
	padding: 5px;
}

.details {
	line-height: 30px; 
}

.home {
	text-align: center;
	padding: 50px;
}
